<%- include('partials/header'); -%>

<header>
  <div class="cookie">
    <img src="/cookie.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Cookie Recipes</h2>
    <h3>By DaErudite</h3>
    <a href="/treats" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>