<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/cookie.jpg" alt="treat recipe icon">
    <h4>Banana cookie</h4>
    <p>Banana,vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/cookie.jpg" alt="treat recipe icon">
    <h4>Tropical </h4>
    <p>Peach, Pinapple, Apple fruits</p>
  </li>
  <li class="recipe">
    <img src="/cookie.jpg" alt="treat recipe icon">
    <h4>Protein Packer</h4>
    <p>Flour, Peanut butter, Milk, Blueberries</p>
  </li>

</ul>

<%- include('partials/footer'); -%>